<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!-- awesome字体文件 -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>OA for FT</title>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-bottom:350px">

        </div>
        <div class="row mt-5" >
            <form action="" class="form-horizontal form-group col-5 offset-3 ">
           
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class='fa fa-user fa-fw'></span>
                        </span>
                        <input type="text" class="form-control" id='username' name='username' placeholder="请输入用户名">
                    </div>
                    <div class="input-group mt-2 ">
                        <span class="input-group-prepend">
                            <span class="fa fa-key fa-fw"></span>
                        </span>
                        <input type="text" class="form-control" id='userpwd' name='userpwd' placeholder="请输入密码">
                    </div>
                    <div class="form-check mt-2">
                        <div>
                            <input class='form-check-input' type="checkbox" id='rememberme'>
                            <label for="rememberme">记住我！</label>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div>
                            <input type="submit" class="btn btn-outline-primary" value="登录">
                            <input type="submit" class="btn btn-outline-primary offset-2" value='注册'>
                            <a href="" class="offset-3">忘记密码</a>
                        </div>
                    </div>
                
          
                
            
                
                
                    
               
                
            </form>
        </div>




</body>

</html>